<app-navbar></app-navbar>

<div class="container-fluid px-0 pb-5 overflow-hidden">
  <div class="landing-section">
    <img
      src="assets/landing.jpeg"
      alt="Landing Image"
      height="100%"
      width="100%"
    />

    <h1 class="landing-heading position-absolute start-50 translate-middle">
      Where Architecture Meets Inspiration
    </h1>
  </div>

  <div class="latest-section pt-5 px-5">
    <div class="row px-3">
      <div class="d-flex align-items-center px-0 mb-2">
        <h2 class="pe-5">Latest</h2>
        <hr class="divider" />
      </div>
      <div class="col-7 px-0">
        <img
          src="assets/latest-1.jpg"
          width="100%"
          height="500px"
          alt="Image"
        />
        <h3 class="mt-2 post-title">
          On sait depuis longtemps que travailler avec du texte lisible et
          contenant du sens
        </h3>
        <p class="text-secondary">by Lorem ispum</p>
      </div>
      <div
        class="col-5 px-0 ps-5 d-flex flex-column align-items-stretch justify-content-between"
      >
        <div class="d-flex">
          <div>
            <img
              src="assets/latest-2.jpg"
              width="250"
              height="200px"
              alt="Image"
            />
          </div>
          <div
            class="ps-4 d-flex flex-column"
            style="max-width: 370px; overflow: hidden"
          >
            <h3 class="post-title">
              Qu'est-ce que le lang lorem Ipsum fait dans
            </h3>
            <P class="text-justify me-1 w-100"
              >On sait duis longtemps que lore travailler avec du texte lisible
              et empê... <a href="#">read more</a></P
            >

            <p class="text-secondary">by Lorem ispum</p>
          </div>
        </div>
        <div>
          <img
            src="assets/latest-3.jpg"
            width="100%"
            height="250"
            alt="Image"
          />
          <div class="d-flex flex-nowrap">
            <h3 class="mt-2 post-title">
              On sait depuis longtemps que travailler avec du coenerngerg
            </h3>
          </div>
          <p class="text-secondary">by Lorem ispum</p>
        </div>
      </div>
    </div>
  </div>

  <div class="posts px-5 mt-4">
    <div class="d-flex align-items-center px-0 mb-2">
      <h2 class="pe-5">Posts</h2>
      <hr class="divider" />
    </div>
    <app-get-posts></app-get-posts>
  </div>

  <div
    class="video-section bg-light"
    style="height: 400px; margin-bottom: 80px"
  ></div>

  <div class="about-section py-5 position-relative px-5">
    <div class="row mx-0 mt-2 mb-5" style="background-color: #263640">
      <div
        class="col-6"
        style="
          padding-top: 60px;
          padding-bottom: 100px;
          padding-left: 80px;
          padding-right: 80px;
        "
      >
        <h1 class="">About ArchiBlog</h1>
        <h6 class="mb-4">Since Nov 2016</h6>
        <p style="text-align: justify">
          Welcome to ArchiBlog, where we transcend the blueprints and immerse
          ourselves in the vibrant green world where the design meets
          inspiration. Our Architecture blog is beyond a virtual space, it's a
          narrative woven with threads of creativity, innovation, and deep
          passion for the art and science of green architecture
        </p>
      </div>

      <div class="col-6">
        <div
          class="image-abs position-absolute top-0 end-0"
          style="margin-right: 110px"
        >
          <img width="630" height="700" src="assets/about-image.jpg" alt="" />
        </div>
      </div>
    </div>
  </div>

  <div class="categories-section px-5 py-3" style="margin-top: 50px">
    <div class="d-flex align-items-center px-0 mb-3">
      <h2 class="pe-5">Categories</h2>
      <hr class="divider" />
    </div>

    <div class="gallery">
      <div class="bloc d-flex align-items-center justify-content-center text-center">
        <h3 class="category-name">Sustainble Architecture</h3>
        <div class="overlay"></div>
      </div>
      <div class="bloc d-flex align-items-center justify-content-center text-center">
        <h3 class="category-name">Sustainble Architecture</h3>
        <div class="overlay"></div>
      </div>
      <div class="bloc d-flex align-items-center justify-content-center text-center">
        <h3 class="category-name">Sustainble Architecture</h3>
        <div class="overlay"></div>
      </div>
      <div class="bloc d-flex align-items-center justify-content-center text-center">
        <h3 class="category-name">Sustainble Architecture</h3>
        <div class="overlay"></div>
      </div>
      <div class="bloc d-flex align-items-center justify-content-center text-center">
        <h3 class="category-name">Sustainble Architecture</h3>
        <div class="overlay"></div>
      </div>
    </div>
  </div>
</div>
