.container-fluid{
    background-color: #EEEDE9;
}

.landing-section{
    height: 100vh;
}

.landing-heading{
    text-align: center;
    width: 630px;
    bottom: 90px;
    color: #EEEDE9;
    font-family: 'Inter', sans-serif; 
    font-size: 50px;

}

.divider{
    width: 100%;
    border: solid 1px black;
    opacity: 0.5;
}

.post-title{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

p{
    font-size: 24px;
    color: #475759;
}

p > a {
    color: #E4794C;
}

.gallery{
    display: flex;
    height: 500px;
    gap: 6px;
}

.gallery > .bloc{
    flex: 1;
    min-width: 100px;
    position: relative;
    background-image:url('../../../assets/cat-two.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    cursor: pointer;
    transition: .7s;
}

.category-name{
    z-index: 10;
    color: #EEEDE9;
}

.overlay{
    position:absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: 0.7s;
}

.gallery > .bloc:hover{
    flex: 1.8;
    transition: 0.7s;
   }

.bloc:hover > .overlay{
    transition: 0.7s;
    background: linear-gradient(90deg, rgba(90, 30, 5, 0.40) 0%, rgba(129, 51, 18, 0.38) 17.29%, rgba(166, 94, 64, 0.35) 33.96%, rgba(212, 149, 123, 0.19) 64.69%, rgba(241, 202, 185, 0.00) 100%);
    opacity: 1;
}


