//Palette colors
$alabaster : #EEEDE9;
$orange: #E4794C;
$black: #263640;
$darkBlue: #263640;

//-------------mixins-------------
@mixin card-title(){
    color: $black;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
} 

@mixin card-design {
    min-width: 400px;
    max-width: 510px;
    overflow: hidden;
    border-radius: 2px;
    border: none;
    background-color: $alabaster;
  
    & .card-title {
      @include card-title()
    }
  
    & .card-text {
      color: #475759;
      font-size: 20px;
  
      & > a {
      color: $orange;
      } 
    }

    & .author{
      font-size: 18px;
      color: $black;
      opacity: 0.6;
    } 
  }