<footer class="footer">
  <div class="footer-container">
    <div class="footer-section brand">
      <img src="../../../assets/ArchiBlogLogo.png" alt="Logo" />
      <p>
        ArchiBlog is your first Step into the realm where vision meets reality.
        Our blog is a celebration of the art and science of architecture, where
        every post is a drop of creativity
      </p>
    </div>

    <div class="footer-section menu">
      <h4>Menu</h4>
      <ul>
        <li><a href="#topics">Posts</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul>
    </div>

    <div class="footer-section follow">
      <h4>Follow</h4>
      <div class="footer-section follow">
        <div class="follow-icons">
          <!-- Facebook -->
          <a href="#" aria-label="Facebook" class="follow-icon facebook">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="white"
              viewBox="0 0 24 24"
            >
              <path
                d="M22 12a10 10 0 10-11.625 9.875V14.89H7.077V12h3.298V9.797c0-3.256 1.942-5.063 4.916-5.063 1.423 0 2.91.254 2.91.254v3.197h-1.64c-1.616 0-2.12 1.004-2.12 2.034V12h3.61l-.577 2.89h-3.033v7.015A10 10 0 0022 12z"
              />
            </svg>
          </a>

          <!-- Instagram -->
          <a href="#" aria-label="Instagram" class="follow-icon instagram">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="white"
              viewBox="0 0 24 24"
            >
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M7.5 2A5.5 5.5 0 002 7.5v9A5.5 5.5 0 007.5 22h9a5.5 5.5 0 005.5-5.5v-9A5.5 5.5 0 0016.5 2h-9zm8.75 3.25a.75.75 0 011.5 0v1.5a.75.75 0 01-1.5 0v-1.5zM12 8a4 4 0 100 8 4 4 0 000-8z"
              />
            </svg>
          </a>

          <!-- X (Twitter) -->
          <a href="#" aria-label="X" class="follow-icon twitter">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="white"
              viewBox="0 0 24 24"
            >
              <path
                d="M20.292 3H16.9l-4.4 5.937L8.9 3H3l6.872 9.376L3.351 21H6.77l4.743-6.39L15.1 21h5.9l-7.03-9.595L20.292 3z"
              />
            </svg>
          </a>

          <!-- Pinterest -->
          <a href="#" aria-label="Pinterest" class="follow-icon pinterest">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="white"
              viewBox="0 0 24 24"
            >
              <path
                d="M12 2.04C6.476 2.04 2 6.514 2 12.038c0 4.182 2.613 7.737 6.33 9.126-.087-.775-.166-1.966.034-2.812.182-.773 1.17-4.927 1.17-4.927s-.296-.591-.296-1.463c0-1.37.796-2.394 1.786-2.394.84 0 1.244.63 1.244 1.385 0 .844-.537 2.107-.813 3.281-.23.968.489 1.759 1.45 1.759 1.74 0 3.075-1.835 3.075-4.482 0-2.343-1.686-3.978-4.09-3.978-2.785 0-4.422 2.088-4.422 4.247 0 .843.324 1.748.73 2.238.08.096.092.181.068.279-.074.305-.241.968-.274 1.103-.043.18-.143.22-.33.133-1.234-.573-2-2.37-2-3.82 0-3.104 2.256-5.956 6.505-5.956 3.414 0 6.07 2.432 6.07 5.684 0 3.395-2.136 6.128-5.1 6.128-1 0-1.941-.521-2.262-1.135l-.615 2.347c-.223.865-.828 1.949-1.235 2.61.933.288 1.921.445 2.951.445 5.523 0 10-4.474 10-9.998 0-5.523-4.477-9.998-10-9.998z"
              />
            </svg>
          </a>
        </div>
      </div>

      <h5>Subscribe</h5>
      <div class="subscribe-form">
        <input type="email" placeholder="subscribe now !" />
        <button>Subscribe</button>
      </div>
    </div>
  </div>
</footer>
